*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    font-family: serif;
    width: 100%;
    /* height: 100%; */
    height: 100vh;
    border: 5px solid black;
}

.main-container{
    width: 100%;
    height: 100%;
    border: 2px solid red;
}

header{
    position: relative;
    width: 100%;
    height: 4em;
    border: 2px solid blue;
}

.desktop-navbar{
    position: relative;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    border: 2px solid green;
    margin: auto;
}

.desktop-navbar .logo-container{
    width: 30%;
    height: 100%;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container .logo{
    width: 100%;
    height: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop-navbar .navigations-container{
    width: 40%;
    height: 100%;
    border: 2px solid red;
}

.desktop-navbar .main-btn-container{
    width: 30%;
    height: 100%;
    border: 2px solid red;
}